
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'quicksand', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.conrtainer{
    max-width: 1100px;
    margin:  auto;
}

/* Utility Classes */
.primary-text{
    color: #e4b95b;
}

.btn{
    display: inline-block;
    padding: 15px 30px; ;
    border: none;
    border-radius: 15px;
}

.btn-primary{
    color: aliceblue;
    border: 1px solid aliceblue;
}


.btn-secondary{
    color: aliceblue;
    background-color: #383848;
    margin-top: 2rem;
}


.btn-primary:hover , .btn-secondary:hover{
    background-color:  #e4b95b;
}

/*header Start */
header{
    height: 100vh;
    background: url(./img/home_bg.jpeg) center center/cover no-repeat; 

}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
#navbar img{
    width: 80px;
}

#navbar ul{
    display: flex;
    margin-left: 100px;

}


#navbar ul li a{
    padding: 15px  20px;
    color: aliceblue;
    font-weight: 600;
}

#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b;
}


header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1{
    font-size: 40px;
    color: aliceblue;
}

header .content p{
    margin: 20px 0 40px;
    color: aliceblue;
}

header::before{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}


header *{
    z-index: 10;
}

/* header End */

/* About Start */

#about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}

#about .title,
#offers .title,  
#menu .title 
{
    text-align: center;
    margin-bottom: 4rem;
}


#about h2,
#offers h2,
#menu h2,
#gallery h2{
    color: #383848;
    font: 40px;
    margin-bottom: 20px;
}
    
#about h2,
#menu h2{
    color: #383848; 
}

#about .title p,
#menu .title p{
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}


#about .about-content{
    display: flex;
    justify-content: space-between;
    
}


#about .about-content img{
    width: 450px;
}


#about .about-content p{
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1,6;
    
}


/* About End */

/* offer Start */

#offers{
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url(./img/offer-background.jpg) center center/cover fixed;
}

#offers h2{
    color: #e4b95b;
}

#offers .offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}



#offers .offers-items img{
    width: 200px;
    margin: 0 50px;
    
}

#offers .offers-items h3{
    font-size: 25px;
    margin: 15px 0;    
}

#offers .offers-items p{
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items span{
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

/* offer End */


/* MEnu Start */

#menu{
    background: #f4f4f4;
    padding: 4rem 0;
}

#menu .menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px  ;

}

#menu .menu-items .menu-item img{
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    
}


#menu .menu-items .menu-item h3{
    color: #383848;
    border-bottom: 1px dashed #c2bdc2;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}


#menu .menu-items .menu-item span{
    position: absolute;
    top: 0;
    right: 0;
}

#menu .btn{
    display: block;
    margin: 20px auto 0;
    background-color: #e4b95b;
    color: aliceblue;
    cursor: pointer;
}

#menu .btn:hover{
    background: #383848;
}

/* MEnu End */


/* Daytime Start */

#daytime{
    background: url(./img/daytime_bg.jpeg) center center/cover fixed no-repeat;
    color: aliceblue;
    text-align: center;
}

#daytime .daytime-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#daytime .daytime-items h3{
    font-size: 32px;
    margin: 20px 0 10px;
}

#daytime .daytime-items p{
    font-weight:  500;
}

/* Daytime End */

/* Gallery Start */

#gallery {
    background: url("./img/offer-background.jpg") center center/cover;
    padding: 8rem 0 6rem;
}

#gallery h2 {
    color: aliceblue;
    text-align: center;
}

#gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gallery .img-gallery img {
    margin: 20px;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    opacity: 0.8;
}

#gallery .img-gallery img:hover {
    opacity: 1;
}


/* Gallery End */


/* contact start  */

#contact {
    background: #f4f2ed;
    padding: 5rem 0;
  }
  
  #contact .container {
    max-width: 900px;
  }
  
  #contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #contact .contact-info {
    width: 50%;
  }
  
  #contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
  }
  
  #contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
  }
  
  #contact .contact-info p {
    color: #9a9a9a;
  }
  
  #contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
  }
  
  #contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
  }
  
  #contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
  }
  
  form {
    width: 50%;
  }
  
  form input,
  textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
  }
  
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form button {
    color: #fff;
  }
  

/* contact end */
/* Footer Start */
#footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
  }
  /* Footer End */
  
  /* Responsiveness */
  /* Medium Screen + Tablet */
  @media (max-width: 1000px) {
    #navbar img {
      margin-left: 20px;
    }
  
    nav ul {
      margin-right: 20px;
    }
  
    nav ul li a {
      padding: 10px;
    }
  
    header .content h1 {
      font-size: 28px;
    }
  
    #about {
      height: auto;
      padding: 4rem 2rem;
    }
  
    #about .about-content p {
      margin-right: 2rem;
    }
  
    #about img {
      width: 250px;
    }
  
    #offers .offers-items img {
      width: 150px;
    }
  
    #offers .offers-items h3 {
      font-size: 18px;
    }
  
    #menu .menu-items {
      display: block;
    }
  
    #contact .contact-content {
      flex-direction: column;
    }
  
    /* Mobile Devices */
    @media (max-width: 600px) {
      #navbar {
        flex-direction: column;
      }
  
      #navbar img {
        margin-bottom: 20px;
      }
  
      header .content h1 {
        font-size: 18px;
      }
  
      header .content p {
        font-size: 14px;
      }
  
      #about .about-content {
        flex-direction: column;
      }
  
      #about .about-content a {
        margin: 2rem 0;
      }
  
      #about img {
        display: none;
      }
  
      #offers {
        height: auto;
        padding: 30px 10px;
      }
  
      #offers .offers-items {
        flex-direction: column;
      }
  
      #menu .menu-items .menu-item {
        margin: 20px 10px;
      }
  
      #daytime .daytime-items {
        display: block;
        height: auto;
        padding: 30px 0;
      }
  
      #daytime .daytime-items .daytime-item {
        margin-top: 20px;
      }
  
      #contact .contact-info,
      form {
        width: 80%;
      }
    }
  }